---
layout: default
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
<p class="author">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

      <span class="post-meta">{{ post.date | date: date_format }}</span></p>
<div class="content">
  {{ post.content | strip_html | truncatewords:40}}
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous">Previous &nbsp;&nbsp;</a>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">&nbsp;&nbsp; Next</a>
  {% endif %}
</div>